{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partidas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>State</th>
                <th>Numsessions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partida in partidas %}
            <tr>
                <td><a href="{{ path('partida_show', { 'id': partida.id }) }}">{{ partida.id }}</a></td>
                <td>{{ partida.name }}</td>
                <td>{% if partida.date %}{{ partida.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ partida.state }}</td>
                <td>{{ partida.numsessions }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('partida_show', { 'id': partida.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('partida_edit', { 'id': partida.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% if partida.jugadas|length > 0 %}
                        <tr>
                            <th>&nbsp;&nbsp;&nbsp;</th>
                            <th>Id</th>
                            <th>número</th>
                            <th>jugada</th>
                            <th>Resultado</th>
                        </tr>
                        {% for jugada in partida.jugadas %}
                            <tr style="text-align:center">
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td>{{ jugada.id }}</td>
                                <td>{{ jugada.num }}</td>
                <td>{{ jugada.code1 }}</td>
                <td>{{ jugada.code2 }}</td>
                <td>{{ jugada.code3 }}</td>
                <td>{{ jugada.code4 }}</td>
                <td>{{ jugada.code5 }}</td>
                <td>{{ jugada.code6 }}</td>
                <td>{{ jugada.result }}</td>
                            </tr>
                        {% endfor %}


           {% endif %}
           <tr>
            <td>______</td><td>______</td>
            <td>
                        {% if partida.numsessions <= 15 %}
                           <ul>
                               <li>
                                   <a href="{{ path('jugada_new') }}?partidaid={{ partida.id }}">Create a new jugada</a>
                               </li>
                           </ul>
                        {% endif %}

             </td>
            <td>______</td><td>______</td>


        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partida_new') }}">Create a new partida</a>
        </li>
    </ul>
{% endblock %}
